<html>
<head>
    <%- include('./includes/head', { siteTitle: themeConfig.siteName }) %>
</head>
    <body class="post-template-default single single-post single-format-standard ct-body singular singular-post not-front standard">
        <div id="overflow-container" class="overflow-container">
            <a class="skip-content" href="#main">Skip to content</a>
                <%- include('./includes/header') %>

                <%- include('./includes/post-list-archives') %>

                <%- include('./includes/pagination') %>

                <%- include('./includes/footer') %>
        </div>
    </body>
</html>
