<html>
<head>
  <%- include('./includes/head',  { siteTitle: `${post.title} | ${themeConfig.siteName}` }) %>
</head>
<body class="home blog ct-body standard">
<div id="overflow-container" class="overflow-container">
  <a class="skip-content" href="#main">Skip to content</a>
  <%- include('./includes/header') %>

  <div id="main" class="main" role="main">
    <div id="loop-container" class="loop-container">
      <div class="post type-post status-publish format-standard has-post-thumbnail hentry category-design tag-design tag-standard-2 tag-tagalicious tag-travel entry full-without-featured odd excerpt-1">
        <% if (themeConfig.showFeatureImage && post.feature) { %>
          <div class='featured-image lazy lazy-bg-image' data-background="<%= post.feature %>">
          </div>
        <% } %>

        <div class="entry-meta">
          <span class="date">· <%= post.dateFormat %> ·</span> <span> / </span>
          <span class="author">
            <a href="<%= themeConfig.domain %>" title="" rel="author"> <%-themeConfig.footerInfo%></a>
          </span>
          <% post.tags.forEach(function(tag) { %>
            <span class="category">
                    <span> / </span>
                    <a href="<%= tag.link %>"><%= tag.name %></a>
                </span>
          <% }); %>
        </div>
        <div class='entry-header'>
          <h1 class='entry-title'><%= post.title %></h1>
        </div>
        <div class="entry-container">
          <div class="entry-content">
            <article>
              <%- post.content %>
            </article>
          </div>
          <div class='entry-meta-bottom'>
            <div class="entry-categories">
              <p>
                <span>Categories</span>
                <% if (site.tags) {%>
                  <% site.tags.forEach((tag, index) => {%>
                    <% if (index <=10) {%>
                  <a href="<%=tag.link%>" title="View all posts in <%=tag.name%>"><%=tag.name%></a>
                    <% } %>
                    <% })
                }%>
                <!--<a href="/blog/categories/github" title="View all posts in Github">Github</a>
                <a href="/blog/categories/ssh" title="View all posts in SSH">SSH</a>
                <a href="/blog/categories/apidoc" title="View all posts in apidoc">apidoc</a>
                <a href="/blog/categories/code" title="View all posts in code">code</a>
                <a href="/blog/categories/markdown" title="View all posts in markdown">markdown</a>
                <a href="/blog/categories/snap" title="View all posts in snap">snap</a>
                <a href="/blog/categories/snap-store" title="View all posts in snap store">snap store</a>-->
              </p>
            </div>
            <div class="entry-tags">
              <p><span>Tags</span>
              </p>
            </div>
          </div>
          <div class="author-meta">
            <div class="author">
              <img alt='' src="<%= themeConfig.domain %>/images/avatar.png?v=<%= site.utils.now %>" class='avatar avatar-72 photo' height='72' width='72'>
              <span>WRITTEN BY: &nbsp;&nbsp;&nbsp;<a href='<%- themeConfig.domain %>'><%-themeConfig.siteName%></a> </span>
            </div>
            <div class="bio">
              <p><%=themeConfig.siteName%></p>
              <% ['github', 'twitter', 'weibo', 'zhihu', 'facebook'].forEach((item) => { %>
                <% if (site.customConfig[item]) { %>
                  <a class="email" target="_blank"
                     href="<%= site.customConfig[item] %>">
                    <i class="fab fa-<%= item %>" title="<%= item %>"></i>
                  </a>
                <% } %>
              <% }) %>
            </div>
          </div>
        </div>
          <% if (post.nextPost && !post.hideInList) { %>
            <nav class="navigation pagination" role="navigation">
              <h2 class="screen-reader-text">Posts navigation</h2>
              <div class="nav-links">
                <a class="next page-numbers" href="<%= post.nextPost.link %>">下一篇-><%= post.nextPost.title %></a>
              </div>
            </nav>
          <% } %>
      </div>
      <section id="comments" class="comments">
        <% if (typeof commentSetting !== 'undefined' && commentSetting.showComment) { %>
          <% if (commentSetting.commentPlatform === 'gitalk') { %>
            <%- include('./includes/gitalk') %>
          <% } %>

          <% if (commentSetting.commentPlatform === 'disqus') { %>
            <%- include('./includes/disqus') %>
          <% } %>
        <% } %>
      </section>
    </div>
  </div>

  <%- include('./includes/footer') %>
</div>
</body>
</html>

