<header id="site-header" class="site-header" role="banner">
    <div class='top-navigation top-navigation-important'>
        <div class='container'>
            <div id="menu-secondary" class="menu-container menu-secondary" role="navigation">
                <button id="toggle-secondary-navigation" class="toggle-secondary-navigation"><i class="fa fa-plus"></i></button>
                <div class="menu">
                    <ul id="menu-secondary-items" class="menu-secondary-items">
                        <% if (site.tags) {%>
                        <% site.tags.forEach((tag, index) => {%>
                            <% if (index <=6) {%>
                        <li id="menu-item" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item">
                            <a href="<%=tag.link%>"><%=tag.name%></a>
                        </li>
                            <% } %>
                        <% })
                        }%>
                    </ul>
                </div>
            </div>
            <ul class="social-media-icons">
                <% ['github', 'twitter', 'weibo', 'zhihu', 'facebook', 'envelope', 'qq'].forEach((item) => { %>
                    <% if (site.customConfig[item]) { %>
                        <li>
                            <a href="<%= site.customConfig[item] %>" data-animate-hover="pulse" class="<%= item %>" target="_blank">
                                <i class="<%=item == 'envelope'?'fa':'fab' %> fa-<%= item %>" title="<%= item %>"></i>
                                <span class="screen-reader-text"><%= item %></span>
                            </a>
                        </li>
                    <% } %>
                <% }) %>
            </ul>
        </div>
    </div>

    <div class="container">
        <div id="title-info" class="title-info">
            <div id='site-title' class='site-title'>
                <a href="/<%= themeConfig.domain %>">  <%= themeConfig.siteName %> </a>
            </div>
        </div>
        <button id="toggle-navigation" class="toggle-navigation">
            <i class="fa fa-bars"></i>
        </button>
        <div id="menu-primary-tracks" class="menu-primary-tracks"></div>
        <div id="menu-primary" class="menu-container menu-primary" role="navigation">
            <p class="site-description"><%- themeConfig.siteDescription %></p>
            <div class="menu">
                <ul id="menu-primary-items" class="menu-primary-items">
                     <% menus.forEach(function(menu) { %>
                        <% if (menu.openType === 'External') { %>
                            <li id="menu-item" class='menu-item menu-item-type-post_type menu-item-object-page current-menu-item current_page_item'>
                                <a href="<%= menu.link %>" target="_blank"><%= menu.name %></a>
                            </li>
                        <% } else { %>
                            <li id="menu-item" class='menu-item menu-item-type-post_type menu-item-object-page current-menu-item current_page_item'>
                                <a href="<%= menu.link %>"><%= menu.name %></a>
                            </li>
                        <% } %>
                    <% }); %>
                </ul>
            </div>
        </div>
    </div>


</header>