<% let years = []; posts.forEach((item) => { const year = item.date.substring(0, 4); if (!years.includes(year)) { years.push(year); } }); %>

<div class="main">
    <div class="main-content">
        <div id="timeline-container">
            <div id="timeline">
                <% years.forEach(function(year) { %>
                <div class="timeline-item">
                    <div class="timeline-icon">
    <!--                    <img src="assets/images/star.svg" alt="<%=year%>">-->
                        <span><%=year%></span>
                    </div>
                    <% posts.forEach(function(post) { %>
                    <%if (post.date.indexOf(year) !== -1) { %>
                        <div class="timeline-content">
                            <h3 class="timeline-title"> <%= post.title %></h3>
                            <p>
                                <%- post.abstract %>
                            </p>
                            <a href="<%= post.link %>" class="btn">review</a>
                        </div>
                    <% } %>
                    <% }); %>
                </div>
                 <% }); %>
            </div>
        </div>
    </div>
</div>