<html>
  <head>
    <%- include('./includes/head', { siteTitle: themeConfig.siteName }) %>
  </head>
  <body class="home blog ct-body standard">
    <div id="overflow-container" class="overflow-container">
    <a class="skip-content" href="#main">Skip to content</a>
        <%- include('./includes/header') %>

        <%- include('./includes/post-list') %>

        <%- include('./includes/pagination') %>

        <%- include('./includes/footer') %>
      </div>
  </body>
</html>

