<html>
<head>
    <%- include('./includes/head', { siteTitle: `${tag.name} | ${themeConfig.siteName}` }) %>
</head>
<body class="home blog ct-body standard">
<div id="overflow-container" class="overflow-container">
    <%- include('./includes/header') %>
        <div class="main-content">
            <div class="current-tag-container">
                <h2 class="title">
                    标签：#<%= tag.name %>
                </h2>
            </div>
        </div>
    <%- include('./includes/post-list') %>

    <%- include('./includes/pagination') %>

    <%- include('./includes/footer') %>
</div>
</body>
</html>